{% extends 'main.html' %}

{% block content %}

<div class="container-fluid">
    <div class="d-flex mt-5 justify-content-center">
    <div class="card box-shadow" style="width: 35rem;">

        <div class="card-header header-f-size">
            <div class="d-flex flex-row justify-content-between align-center">
                <div class="p-2">
                    <form method="POST" style="height:15px;">
                        {% csrf_token %}
                        {{form}}
                        <input type="submit" hidden />
                    </form>
                </div>
                <div class="p-2">
                    <a href="{% url 'dashboard'  %}" class="fa-solid fa-xmark icon-grey"></a>
                </div>
            </div>
        </div>

        <div class="card-body">      
  
        </div>
    </div>
    </div>
</div>

{% endblock content%}